form{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#projectDescription{
    width: 90vw;
    background-color: lightgray;
}

#projectName{
   width:90vw;
   max-width: 400px;
   background-color: lightgray;
}

#submit{
    margin-top: 20px;
}