main {        
    background-image: url('../images/background.png');
    background-repeat: repeat-x;
    color: white;
    height: 92vh;
    padding-top: 5px;
    width: 100%;
    margin: auto;
    text-align: center;
}

#emptyDiv {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

#projectDiv {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;    
    max-width: 1200px;
}

#description {
    background-color: rgba(20, 20, 20, 0.7);
    border: 1px green solid;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
    max-height: 50vh;
    overflow: auto;
}

.btn {
    font-size: larger;
    box-shadow: black 2px 2px 2px;
}