main {    
    background-color: black;
    background-image: url('../images/background.png');
    background-repeat: repeat-x;
    color: white;
    height: 92vh;
    padding-top: 5px;
    width: 100%;
    margin: auto;
    text-align: center;
}

#emptyDiv {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

#projectDiv {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

a:link {
    color: lime;
    text-decoration: none;    
}

a:hover {
    color: greenyellow;
}

#description {
    background-color: rgba(20, 20, 20, 0.7);
    border: 1px green solid;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
}

.btn {
    font-size: larger;
    box-shadow: black 2px 2px 2px;
}