:root {
    --taskbgcolor: darkgreen;
    --taskfgcolor: white;
    --taskbuttonbgcolor: lightgreen;
    --taskbuttonshadowcolor: gray;
    --headerbgcolor: blanchedalmond;
    --headerseparator: 3px solid black;
    --footerbgcolor: blanchedalmond;
    --footerseparator: 1px black solid;
}

header {
    padding-left: 3px;
    background-color: var(--headerbgcolor);
    border-bottom: var(--headerseparator);
}

header h1 {
    padding: 5px;
}

#taskList ul {
    list-style-type: none;
}

#taskList li {
    display: flex;
    background-color: var(--taskbgcolor);
    color: var(--taskfgcolor);
    justify-content: space-between;
    min-width: 300px;
    margin: 2px;
    border: black solid 2px;
}

#taskList li button {
    background-color: var(--taskbuttonbgcolor);
    min-width: 50px;
    font-size: larger;
    margin: 2px;
    box-shadow: 2px 2px var(--taskbuttonshadowcolor);

}

footer {    
    position: fixed;
    bottom: 5px;
    margin: auto;
    padding-top: 3px;
    width: 100%;
    text-align: center;
    background-color: var(--footerbgcolor);
    border-top: var(--footerseparator);
}

body {
    background-color: linen;
}

main {
    padding-left: 10px;
    padding-right: 40px;    
}

#buttonGroup {
    padding-left: 40px;
}

.btn {
    margin: 0 10px;
    border: solid 1px black;
    box-shadow: gray 2px 2px 2px;
}

#errorText {
    color: red;
    margin-top: 3px;
}